<h1 class="main-title">The Rick and Morty API</h1>
<section class="character-list" *ngIf="responseList !== null || responseList !== undefined">
  <!-- <pre>{{ responseList | json }}</pre> -->
  <div class="character-card" *ngFor="let character of responseList">
    <img class="character-image"
      src="{{character.image}}"
      alt="{{character.name}}">
    <div class="character-body">
      <span class="character-name">{{character.name}}</span>
      <span class="character-species">{{character.species}}</span>
    </div>
  </div>
</section>